@charset "UTF-8";
.groupMenu, .groupMain, .groupApp {
	height: 70%;
	float: left;
	border: 1px solid black;
}
.groupMenu {
	width: 15%;
}
.groupMain {
	width: 60%;
}
.groupApp {
	width: 15%;
}
.clear {
	clear: both;
}