@charset "UTF-8";

body {
/* 	font: 14px 맑은 고딕; */
}

/* 초기화(공통) 스타일 */
* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #111;
}
img {
	border: none;
}
ol, ul {
	list-style: none;	
}
div{
/* 	border:1px solid #8000ff; */
}
h1{
	font-size: 1.5em;		
/* 	color:#FFC;	 */
/* 	text-shadow:1px 2px 2px #000; */
	color: #999;
	font-family: Arial, Helvetica, sans-serif;	
}
h2{
/* 	font-size:2em; */
	color:#FF0;	
	text-shadow:0px 1px 1px #000;	
}
h4 {
/* 	text-size:12px; */
	color:#FF3300;
}
input, textarea {
	outline: none;
}
/* 전체 사이즈 스타일 */
#wrapper {
	width: 100%;
}

/* 헤더 스타일 */
header {
	width: 100%;
	background-color:#aaa;
}
header .head {
	width: 1024px;
	height: 150px;
	margin: 0 auto;
	background-image: url(../img/흐엉_small.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	text-align:center;
	box-sizing: border-box;
}

div.loginbtn {
	height:30px;
	text-align:right;
	padding:20px 20px 0 0;
}


/* 콘텐츠 영역(공통) 스타일 */
section {
	width: 100%;
	height: auto;
	overflow: hidden;
}
section .container {
	width: 1024px;
	margin: 0 auto;
}
/* 메인 페이지 콘텐츠 영역 스타일 */
div.mainContent {
	vertical-align: middle;
}
div.contentRow {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
}
div.intro {
	flex: 4 1;
	text-align: center;
}
div.login {
	flex: 4 1;
	text-align: center;
}

/* 서브 페이지 콘텐츠 영역 스타일 */
div.subContent {
	padding: 20px 40px;
	box-sizing: border-box;
	min-height: 600px;
}
div.subContent nav {
	position: relative;
	width: 100%;
	height: 70px;
	margin-bottom: 20px;
	border-bottom: 1px solid #e9e9e9;
}
div.subContent nav h1, span {
/* 	position: absolute; */
	bottom: 10px;
}
div.subContent nav span {
	right: 0px;
}
div.subContent table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
/* 글쓰기 버튼 */
.btnArea {
	clear: both;
    position: relative;
    width: 100%;
    height: 37px;
    overflow: hidden;
    margin-top: 15px;
    text-align: right;
}

/* list */
.hit {
	position: relative;
	bottom: 0;
	color: orange;
	animation-name: hitAniAction;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@keyframes hitAniAction {
	0%{
		font-weight: normal;
	}
	100%{
			font-weight: bolder;
	}
}
.listTable {
	width: 100%;
}
.listTable tbody tr:hover td {
	background-color: #e0e0e0;
}
.listTable tbody tr a:hover {
	color: orange;
}
.listTable th {
	padding: 10px 0;
	text-align: center;
	border-top: 2px solid #444547;
	color: #666;
	background-color: #e9e9e9;
	border-bottom: 2px solid #e0e0e0;
}
.listTable td {
	padding: 10px 0;
	text-align: center;
	background-color: #fff;
	border-bottom: 1px solid #e1e1e1;
	color: #777;
} 
.listTable td.alignL {
	padding-left: 10px;   
	text-align: left;
	text-overflow : ellipsis; 
	overflow : hidden;
/* 	white-space: nowrap; */
}
.searchBox {
  	clear: both;
    float: right;
    overflow: hidden;
    margin: 0 0 10px 0;	
}
.numTh, .idTh, .hitTh{
	width: 10%;
}
.dateTh, .fileTh {
	width: 20%;
}
.pageNav {
	clear: both;
    height: 25px;
    overflow: hidden;
    margin-top: 40px;
    text-align: center;
}



div.section {
	background-color: #FFFFFF;	
	padding-top:10px;
	padding-left:50px;
	width: 600px;
	float: left;
}

.navi{
	background:#003E00;
	margin-top:-15px;
	width:960px;
	height:60px;
}
.navi ul{
	list-style: none; 
	height:40px;
	padding-top:10px;
	padding-bottom:5px;
}
.navi ul li {
	display:inline;
	float:left;
	font-size:15px;
}
.navi a, .navi a:visited {
	padding: 10px 5px 5px 35px;
	display: block;
	color:#fff;
	width: 150px;
	text-decoration: none;
}
.navi a:hover, .navi a:active, .navi a:focus {
		text-shadow:0px 2px 2px #000;
		color:#FC0;
}

.sidebar1 {
	float: right;
	width: 140px;
	height:550px;
	background-color:#DFD;
	padding-top:20px;
	padding-left:10px;
	padding-right:10px;
}
.sidebar1 img {
	margin-bottom: 5px;
	border: 1px solid #CCC;
	opacity:0.6; 
	text-align:center;
}
.sidebar1 img:hover{
	border:1px solid #000;	
	opacity:1.0;
}


.sidebar2 {
	float: left;
	width: 20%;
	min-height: 400px;
	background-color:#DFD;
	padding-top:20px;
	padding-left:10px;
	padding-right:10px;
	box-sizing: border-box;
}
.sidebar2 img {
	margin-bottom: 5px;
	border: 1px solid #CCC;
	opacity:0.6; 
	text-align:center;
}
.sidebar2 img:hover{
	border:1px solid #000;	
	opacity:1.0;
}
