.wrap {
	text-align: center;
}
.wrap button, a {
	display: inline-block;
    margin: 0 0 0 15px;
    padding: 5px 30px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    border-radius: 2px;
    background: #5c5b65;
    cursor: pointer;
 	outline: none;
 	border: none;
}
.wrap a {
	background-color: #fff;
	border: 1px solid #e0e0e0;
	box-sizing: border-box;
	color: #111;
}
@media (max-width: 660px) {
	.wrap button, a {
		margin: 0 ;
	}
}
  