@charset "UTF-8";
/* todoCalendar */
.todoCalendar {
	width: 650px;
}
.todoCalendar table {
	table-layout: fixed;
	width: 100%;
}
.todoCalendar td {
	height: 100px;
	vertical-align: top;
	font-size: 0.9em;
	overflow: hidden;
}
.todoCalendar .todo {
	border-radius: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 5px;
}
/* todoList */
.todoList {
	border: 1px solid black;
	width: 250px;
	margin-top: 30px;
}
.todoList .selected {
	background: #ccc;
}
.todoList input[type=text] {
	border: 1px solid black;
}
.folded {
	display: none;
}
.line {
	border:0.5px solid black
}
.todoContent td:first-child {
	width: 70px;
}
.todoContent input:not([type=checkbox]) {
	width: fill-available;
}
.todoContent .memo {
	width: fill-available;
	height: 200px;
}
.clear {
	clear: both;
}

@media (min-width: 769px) and (max-width: 1024px) {
	section .container {
		width: 100% !important;
		background: #cccccc !important;
	}
	.todoCalendar  {
		width: 60%;
	}
	.todoCalendar td {
		height: 90px;
	}
}
@media (min-width: 561px) and (max-width: 768px) {
	section .container {
		width: 100% !important;
		background: #ccccaa !important;
	}
	.todoCalendar  {
		width: 100%;
	}
	.todoCalendar td {
		height: 80px;
	}
	.memo {
		height: 150px !important;
	}
	
	.todoCalendar {
		display: none;
	}
	.todoList {
		display: none;
	}
	.mobileShow {
		display: unset;
	}
}
@media (max-width: 560px) {
	section .container {
		width: 100% !important;
		background: #cccc88 !important;
	}
	.todoCalendar  {
		width: 100%;
	}
	.todoCalendar td {
		height: 70px;
	}
	.todoCalendar .todo {
		color: #FFFFFF00;
		height: 10px;
	}
	.memo {
		height: 100px !important;
	}
	.todoCalendar {
		display: none;
	}
	.todoList {
		display: none;
	}
	.mobileShow {
		display: unset;
	}
}